.footer {
  height: 200px;
  background-image: url(/src/styles/images/footer.png);
  background-position: top;
  background-size: cover;
  position: fixed;
  bottom: 0;

  @include on-desktop {
    height: 480px;
  }

  @include on-tablet {
    height: 555px;
  }
}
